// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-nav {
	width: 100%;
	text-align: center;
}

.centerize {
	text-align: center;
}

.centerize-image {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: italic;
}