

<div class="centerize-image">
	<% if @count == 0 %>
		<div class="centerize">
			<h1>Doesnt look like anything is here!</h1>
			<p>Try being more specific with your location (i.e. "Tokyo, Japan")</p>
		</div>
		<% else %>
		<% @count.times do |count| %>
			<div class="box panel panel-default">
				<div class="image-container">
					<%=link_to image_tag(@images[count][0]), @images[count][1] %>
				</div>
				<div class="panel-footer centerize">
					<p><strong><%=Time.at(@images[count][3].to_i).strftime("%A, %B %m  | %I:%M%P") %></strong></p>
					<br>
					<% unless @images[count][2].nil? %>
						<p><strong><%= @images[count][2]["text"] %><strong></p>
					<% end %>

				</div>
			</div>
		<% end %>
		<br>
		<h3 class='centerize'><strong><%= link_to('MOAR', show_image_path(params[:location],@last_time)) %></strong></h3>
	<% end %>
	
</div>
