

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

	<div class="centerize-image">
		
		<% @images.each do |image| %>
			<div class="box panel panel-default">
				<div class="image-container">
					<%=image_tag image %>
				</div>
			</div>
		<% end %>
	</div>

</div>
